/*Header*/
.header {
	background-color: #F3C6BD;
}

/*Header-menu*/
.header_menu {
	padding-top: 40px;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_nav {
	display: flex;
	font-size: 18px;
}

.header_list {
	list-style-type: none;
	display: flex;
}

.header_item {
	margin-left: 35px;	
	display: flex;
	align-items: center;
}

.header_item > a:hover {
	color: #3040C4;
}

.header_item:first-child {
	font-weight: 700;
}

.header_item:nth-child(3) {
	position: relative;
}

.header_item:nth-child(3) .header_link {
	display: flex;
	align-items: center;
}

.header_item:nth-child(3):hover .header_drop {
	display: block;
}

.header_link {
	color: #2B292D;
}

.header_arrow {
	margin-left: 11px;
}

.header_nav .btn {
	margin-left: 56px;
}

/*Header popup*/
.header_drop {
	position: absolute;
	top: 40px;
	right: -55px;
	display: flex;
	flex-direction: column;
	display: none;
}

.header_triangle {
	width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #ffffff;
	margin-left: 500px;
}

.header_popup {	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 18px;
	line-height: 22px;
	width: 612px;
	padding: 30px 30px 0px;
	background-color: #ffffff;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.header_popup-item {
	width: 262px;
	margin-bottom: 30px;
}

.header_popup-title {
	margin-bottom: 10px;
	font-weight: 700;
}

.header_popup-title:hover {
	color: #009B4D;
}

/*Header-content*/
.header_content {
	padding: 76px 0 126px 0;
	margin-left: 130px;
	background-image: url(../img/ouch.png);
	background-repeat: no-repeat;
	background-position: 450px 84px;
}

.header_title {
	font-size: 80px;
	line-height: 78px;
	font-weight: 700;
	width: 754px;
}

.header_text {
	width: 456px;
	margin-top: 34px;
}

.header_btn {
	margin-top: 58px;
}

