* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family:  sans-serif;
	color: #2B292D;
	width: 1400px;
	height: 6739px;
	background-color: #ffffff;
}

/*Header*/
/*Header-menu*/
.header {
	background-color: #F3C6BD;
	height: 710px;
}

.header_menu {
	display: flex;
	padding:39px 130px 0;
}

.logo img{
	width: 60px;
	height: 60px;
}

.logo p {
	font-size: 20px;
	float: right;
	margin: 6px 0 5px 15px;
	width: 222px;
	height: 51px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 273px;
	height: 25px;
	margin: 7px 11px 30px 335px;
}

.nav a {
	text-decoration: none;
	color: #2B292D;
	font-size: 18px;
}

.nav a:nth-child(1) {
	font-weight: bold;
}

.arrow img{
	margin: 16px 56px 41px 0;
}

.header_menu button{
	margin-bottom: 14px;
}

.btn {
	width: 160px;
	height: 48px;
	padding: 0;
	border: none;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
	border-radius: 2px;
}

.-bg-blue {
	background-color: #3040C4;	
}

.-bg-white {
	background-color: #ffffff;	
}

.btn a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

.-bg-blue a {
	color: #ffffff;
}

.bg-white a {
	color: #3040C4;
}
/*Header content*/
.header_content {
	width: 1249px;
	height: 456px;
	margin: 76px 25px 77px 126px;
	background-image: url(../img/ouch.png);
   	background-repeat: no-repeat;
    background-position: right bottom;
}
.header_content h2{
	width: 754px;
	height: 165px;
	font-size: 80px;
	font-weight: bold;
	line-height: 78px;
}

.header_content p {
	width: 456px;
	height: 102px;
	font-size: 24px;
	line-height: 34px;
	margin-left: 5px;
}

.header_content button {
	margin: 58px 0 0 5px;
}

/*Main*/
/*section question*/
.question {
	height: 255px;
	background-color: #F4F5F7;
	display: flex;
	padding: 77px 130px;
}

.question div {
	font-size: 22px;
	line-height: 32px;
	width: 555px;
	height: 102px;
}

.question_what {
	margin-right: 30px;
}

/*Section feature*/

.features_logo {
	margin: 30px 130px 0;
}

.features_content{
	margin: 106px 0 103px 126px;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
}

.features_content h3 {
	font-size: 56px;
	line-height: 56px;
	width: 462px;
	height: 112px;
	margin: 24px 0 30px;
}