* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', sans-serif;
	color: #2B292D;
}

a {
	text-decoration: none;
}

.sec2 {
	margin-bottom: 100px;
}

.sec2_logo  {
	padding-top: 30px;
}

.sec2_body {
	position: relative;
	padding-top: 106px;
}

.sec2_text {
	max-width: 462px;
}

.sec2_feature {
	color: #009B4D;
	margin-bottom: 24px;
}

.sec2_title {
	font-size: 56px;
	line-height: 56px;
	margin-bottom: 30px;	
}

.sec2_content {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 20px;
}

.sec2_item {
	padding: 22px 0;
	border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}

.sec2_item:first-child {
	border-bottom: 3px solid #3142C6;
}

.item_title {
	display: flex;
}

.item_title_text {
	font-size: 22px;
	line-height: 26px;
	margin-left: 15px;
} 

.item_title_text:first-child {
	color: #3142C6;
}

.item_content{
	margin-top: 8px;
	font-size: 18px;
	line-height: 26px;
}

.sec2_pic {
	position: absolute;
	top: 106px;
	left: calc(100% - 570px);
}

.sec2_pic1 {
	position: absolute;
	top: 106px;
	left: calc(100% - 570px);
}

.sec2_pic2 {
	position: absolute;
	top: 364px;
	right: calc(100% + 42px);
}
