/*section one*/
.sec1 {
  background-color: #F4F5F7;
  font-size: 22px;
  line-height: 32px;
  padding: 77px 0;
}

.sec1_body {
  display: flex;
  justify-content: space-between;
}

.sec1_ask {
  width: 555px;
}

.sec1_title {
  padding-bottom: 10px;
  font-weight: 700;
}