.sec3 {
	background-color: rgba(252, 240, 227, 0.4);
}

.sec3_body {
	display: flex;
	justify-content: space-between;
	padding: 115px 0 101px;
}

.sec3_pic {
	margin: 27px 0 0 193px;
	text-align: center;
}

.figcap {
	margin-top: 15px;
	color: rgba(43, 41, 45, 0.6);
}

.sec3_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 519px;
	margin: 0 99px 0 164px;
}

.sec3_team {
	margin: 0 0 24px 28px;
	align-self: flex-start;
}

.small-head--orange {
	color: #F1592B;
}

.sec3_head {
	margin-bottom: 30px;
	width: 462px;
}

.sec3_para {
	margin-bottom: 44px;
	max-width: 462px;
}

.sec3_banner {
	background-color: #ffffff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	border-bottom: 4px solid #0185D0;
}

.sec3_quote {
	font-size: 20px;
	line-height: 28px;
	margin: 30px 30px 26px;
}

.sec3_author {
	display: flex;
	align-items: center;
	margin: 0 0 28px 30px;
} 

.sec3_authorname {
	line-height: 22px;
	margin-left: 11px;
}