.activity {
	margin-top: 10px;
	padding: 0;
	&__box {
		@include box (120px);
		background-image: url(../img/activity1.png);
		&--2 {
			background-image: url(../img/activity2.png);
		}
		&--3 {
			background-image: url(../img/activity3.png);
		}
		&--4 {
			background-image: url(../img/activity4.png);
		}
		&--5 {
			background-image: url(../img/activity5.png);
		}
		&--6 {
			background-image: url(../img/activity6.png);
		}
		&--7 {
			background-image: url(../img/activity7.png);
		}
	}

	&__box::before {
	    @include box-before ($black); 
		opacity: 0.2;
	}

	&__text {
		@include text(22px, inherit, 27px, $white);
		margin: 0;
		padding: 0 47px;
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	}
}
