.activity {
	margin-top: 10px;
	padding: 0;
	&__box {
		@include box (120px);
		background-image: url(../img/activity1.png);
		&--2 {
			background-image: url(../img/activity2.png);
		}
		&--3 {
			background-image: url(../img/activity3.png);
		}
		&--4 {
			background-image: url(../img/activity4.png);
		}
		&--5 {
			background-image: url(../img/activity5.png);
		}
		&--6 {
			background-image: url(../img/activity6.png);
		}
		&--7 {
			background-image: url(../img/activity7.png);
		}
	}

	&__box::before {
	    @include box-before ($black); 
		opacity: 0.2;
	}

	&__text {
		@include text(22px, inherit, 27px, $white);
		margin: 0;
		padding: 0 47px;
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	}
}

@media only all and (min-width: 768px) {
	.activity {
		&__box {
			@include box (310px);
			background-image: url(../img/activity1_768.png);
			&--2 {
				background-image: url(../img/activity2_768.png);
			}
			&--3 {
				background-image: url(../img/activity3_768.png);
			}
			&--4 {
				background-image: url(../img/activity4_768.png);
			}
			&--5 {
				background-image: url(../img/activity5_768.png);
			}
			&--6 {
				background-image: url(../img/activity6_768.png);
			}
			&--7 {
				background-image: url(../img/activity7_768.png);
			}
		}

		&__text {
			padding: 0 15px;
		}
	}
}

@media only all and (min-width: 768px) {
	.activity {
		&__box {
			@include box (310px);
			background-image: url(../img/activity1_1440.png);
			&--2 {
				background-image: url(../img/activity2_1440.png);
			}
			&--3 {
				background-image: url(../img/activity3_1440.png);
				padding: 0 40px;
			}
			&--4 {
				background-image: url(../img/activity4_1440.png);
			}
			&--5 {
				background-image: url(../img/activity5_1440.png);
			}
			&--6 {
				background-image: url(../img/activity6_1440.png);
			}
			&--7 {
				background-image: url(../img/activity7_1440.png);
			}
		}

		&__text {
			//padding: 0 32px;
		}
	}
}

