
.btn {
	&--fill {
		@extend %btn;
		background-color: $pink;
	}

	&--small {
		display: block;
		max-width: 100%;
	}

	&--white {
		@extend %btn;
		background-color: transparent;
		border: 2px solid $white;
	}

	&--pink {
		border: 2px solid $pink;
		color: $pink;
	}

	&--pink {
		@extend %btn;
		border: 2px solid $pink;
	}
}

@media only all and (min-width: 768px) {
	.btn {
		&--fill {
			width: 14rem;
		}

		&--small {
		width: 225px;
		margin: 0 auto;
	}
	}
}

.btn:hover {
	cursor: pointer;
}

