
.btn {
	&--fill {
		@extend %btn;
		padding: 10px 0;
		background-color: $pink;
		border: 2px solid $pink;
		color: $white;
		&--small {
			padding: 4px 0;
		}
	}

	&--fill:hover {
		background-color: transparent;
		border-color: $pink;
		color: $pink;
	}

	&--white {
		@extend %btn;
		border: 2px solid $white;
	}

	&--white:hover {
		border: 2px solid $pink;
		color: $pink;
	}

	&--pink {
		@extend %btn;
		border: 2px solid $pink;
		color: $pink;
		padding: 12px 0;
	}

	&--pink:hover {
		background-color: $pink;
		color: $white;
	}
}


@media only all and (min-width: 768px) {
	.btn {
		&--fill {
			margin: 0 auto;
		}

		&--size1 {
			width: 224px;
		}

		&--size2 {
			width: 173px;
		}

		&--pink {
			width: 180px;
			margin: 0 auto;
		}

		// &--small {
		// 	width: 225px;
		// 	margin: 0 auto;
		// }
	}
}

.btn:hover {
	cursor: pointer;
}

