.circle1 {
	@include circle (40px, 40px, 0, 0, $white);
}

.circle2 {
	@include circle (32px, 32px, 4px, 4px, $pink);

	&__img {
		padding: 8px 0;
	}

	&--yellow {
		background-color: $yellow;
	}

	&--blue {
		background-color: $blue-light;
	}

	&--violet {
		background-color: $violet;
	}
}