.footer {
	text-align: center;
	&__title {
		color: $pink;
		display: block;
		margin: 19px 0 13px;
	}

	&__sub {
		@include text(14px, inherit, 17px, inherit);
		margin-bottom: 0px;
	}

	&__link {
		padding: 0 30px 5px 30px;
		@include text(14px, inherit, 26px, inherit);
		font-weight: 300px;
		a {	
			color: $gray-light2;
			padding: 0 5px;
		}
	}

	&__design {
		margin: 14px 0 7px;
		@include text(10px, inherit, 12px, $light);
	}

	&__img {
		margin-bottom: 22px;
	}
}