.navbar {
	flex-direction: column;
	padding:0 0 1.75rem;
	&-brand {
		margin: 0 auto;
		font-size: 1.25rem;
		line-height: 1.5rem;
	    color: white;
	}
}

@media only all and (min-width: 768px) {
  .navbar {
	flex-direction: row;
	margin: 0 3.125rem;
	padding: 2.5rem 0 9.25rem;
	 &-brand {
		margin: 0;
	 }
	}
}

@media only all and (min-width: 1440px) {
  .navbar {
	flex-direction: row;
	margin: 0 ;
	padding: 2.5rem 0 9.25rem;
	 &-brand {
		margin: 0;
	 }
	}
}
