.nav {
	&--header {
		padding-bottom: 97px ;
	}
	
	&-link--header {
		padding: 10px 20px ;
		@include text(14px, inherit, 17px, $white);
	}
}

@media only all and (min-width: 768px) {
	.nav {
		&--header {
			padding-bottom: 0 ;
			order: 2;
		}
	}
}