.navbar {
	&--flex {
		flex-direction: column;
		padding:0 0 27px;
	}
	
	&-item {
		margin: 0 auto;
		font-size: 20px;
		line-height: 24px;
	}
}

@media only all and (min-width: 768px) {
  .navbar {
	flex-direction: row;
	margin: 0 3.125rem;
	padding: 2.5rem 0 9.25rem;
	 &-brand {
		margin: 0;
	 }
	}
}

@media only all and (min-width: 1440px) {
  .navbar {
	flex-direction: row;
	margin: 0 ;
	padding: 2.5rem 0 9.25rem;
	 &-brand {
		margin: 0;
	 }
	}
}
