.navbar {
	&--flex {
		flex-direction: column;
		padding:20px 0 27px;
	}
	
	&--item {
		@include text(20px, inherit, 24px, $white);
	}
}

@media only all and (min-width: 768px) {
  .navbar {
	&--flex {
		flex-direction: row;
		padding:40px 50px 148px;
	}

	&--item {
		margin: 0;
	}
  }
}

@media only all and (min-width: 1440px) {
  .navbar {
	&--flex {
		padding:40px 290px 148px 248px;
	}
  }
}
