.people {
		padding: 0;
		text-align: center;
		&__pic {
			position: relative;
			margin: 0 auto;
			width: 126px;
			height: 126px;
		}

		&__avatar {
			border-radius: 50%;
			margin: 0 auto;
			&--align {
				position: absolute;
				top: 3px;
				left: 3px;
			}
		}

		&__title {
			padding: 14px 0 12px;
			@include text(14px, inherit, 17px, inherit);
		}

		&__text {
			@include text(14px, $roboto, 14px, $gray);
			font-weight: 300;
			padding: 0 22px;
		}
	}

@media only all and (min-width: 768px) {
	.people {
		padding: 0 10px;

		&__text {
			padding: 0;
		}
	}
}

@media only all and (min-width: 1440px) {
	.people {
		flex: 25%;
			
		&--order2 {
			order: 2;
		}
		&--order3 {
			order: 3;
		}

		&--order4 {
			order: 4;
		}
	}
}