.sec4 {
	padding: 0 20px;
	text-align: center;
	&__margin {
		margin: 35px 0 10px;	
	}

	&__question {
		@include text(18px, $roboto, 14px, $gray);
		font-weight: 300;
	}

	&__input {
		@include text(14px, $roboto, 16px, $gray-light2);
		font-weight: 300;
		margin-bottom: 10px;
	}

	&__btn {
		margin-bottom: 40px;
	}
}