.sec1 {
	&__margin {
		margin: 27px 0 15px;
	}
	.col-md-4 {
		padding: 0;
		
		// &__content {
		// 	margin: 0 10px;
		// }
		// background-image: url(../img/Object1.png);
		// background-repeat: no-repeat;
		// background-size:cover;
		&__pic1 {
			position: relative;
			height: 240px;
			margin: 0 10px;
			z-index: 1;
    		background-size: cover;
			background-image: url(../img/Object1.png);
		}
		&__pic1::before {
		  content: "";
		  display: block;
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
		}
	}
}