.sec2 {
	&__margin {
		margin: 36px 0 11px;
		padding: 0 20px;
	}
	
	&__btn {
		padding: 0 20px;
		margin-top: 20px;
	}
}

@media only all and (min-width: 768px) {
	.sec2 {
		&__margin {
			margin: 94px 0 32px;
		}

		&__row {
			margin: 0;
			padding: 0 128px;
		}
	}
}

@media only all and (min-width: 1440px) {

}