.sec4 {
	padding: 0 20px;
	text-align: center;
	&__margin {
		margin: 35px 0 10px;	
	}

	&__question {
		@include text(18px, $roboto, 14px, $gray);
		font-weight: 300;
	}

	&__search {
		display: flex;
		flex-direction: column;//margin-bottom: 10px;
		margin-bottom: 40px;
	}

	&__input {
		@include text(14px, $roboto, 16px, $gray-light2);
		font-weight: 300;
		margin-bottom: 10px;
	}
}

@media only all and (min-width: 768px) {
	.sec4 {
		&__margin {
			margin: 84px 0 43px;
		}

		&__question {
			margin-bottom: 25px;
		}

		&__search {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-bottom: 100px;
		}

		&__input{
			width: 300px;
			margin: 0 10px 0 0;
		}

		&__btn {
			margin: 0;
		}
	}
}
