.sec1 {
	&__margin {
		margin: 1.75rem 0 0.3125rem;
	}

	.row {
		margin: 0;
	}

	.col-md-4 {
		margin-top: 10px;
		padding: 0;
		&__box {
			position: relative;
			height: 15rem;
			margin: 0 0.625rem;
			z-index: 1;
			border-radius: 4px;
    		background-size: cover;
    		//background-position: center;
			background-image: url(../img/Object1.png);
			&--2 {
				background-image: url(../img/Object2.png);
				.col-md-4__text {
					padding-top: 95px;
				}
			}
			&--3 {
				background-image: url(../img/Object3.png);
			}
		}

		&__box::before {
		  content: "";
		  display: block;
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: $background-dark;
		  border-radius: 4px;
		}

		&__text {
			padding: 64px 30px 0 20px;
		}

		&__btn {
			width: 4.375rem;
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 2px;
			margin-bottom: 20px;
		}

		&__title {
			font-size: 24px;
			line-height: 20px;
			vertical-align: bottom;
			margin-bottom: 10px;
		}	

		&__para {
			font-size: 14px;
			line-height: 14px;
			font-family: $roboto;
			color: $gray-light;
			font-weight: 300;
			
		}	
	}
}

@media only all and (min-width: 768px) {
	.row {
		margin: 0;
	}
	.sec1 {
		&__margin {
			margin: 94px 0 35px;
		}
		.col-md-4 {
			&__box {
				min-width: 236px;
				height: 400px;
				background-position: top center;
			}

			&__text {
			padding-top: 205px;
			//vertical-align: bottom;
		}
		}
	}
}

@media only all and (min-width: 1440px) {
	.row {
		margin: 0;
	}
	.sec1 {
		&__margin {
			margin: 94px 0 35px;
		}
		.col-md-4 {
			&__box {
				min-width: 300px;
				height: 400px;
				background-position: top center;
			}

			&__text {
			padding-top: 205px;
			//vertical-align: bottom;
		}
		}
	}
}