.sec2 {
	padding: 0 20px;
	&__margin {
		margin: 36px 0 11px;
	}

	&__row {
		margin: 0;
	}
	
	&__btn {
		margin-top: 20px;
	}
}

@media only all and (min-width: 768px) {
	.sec2 {
		&__margin {
			margin: 94px 0 32px;
		}

		&__row {
			padding: 0 124px;
		}
	}
}

@media only all and (min-width: 1440px) {
	.sec2 {
		&__row {
			padding: 0 220px;
		}
	}
}
