.sec1 {
	&__margin {
		margin: 28px 0 5px;
	}
}

@media only all and (min-width: 768px) {
	.row {
		margin: 0;
	}
	.sec1 {
		&__margin {
			margin: 94px 0 35px;
		}
		.col-md-4 {
			&__box {
				min-width: 236px;
				height: 400px;
				background-position: top center;
			}

			&__text {
			padding-top: 205px;
			//vertical-align: bottom;
		}
		}
	}
}

@media only all and (min-width: 1440px) {
	.row {
		margin: 0;
	}
	.sec1 {
		&__margin {
			margin: 94px 0 35px;
		}
		.col-md-4 {
			&__box {
				min-width: 300px;
				height: 400px;
				background-position: top center;
			}

			&__text {
				padding-top: 205px;
			}
		}
	}
}