.content-header {
	width: 280px;
	margin: 0 auto;
	padding-bottom: 160px;
	&__title {
		@include header-content-item(30px, 37px, 6px, 0px);
	}

	&__text {
		font: {
			family:'Roboto', sans-serif;
			weight: 300;
		};
		@include header-content-item(18px, 24px, 15px, 0px);
		
	}
}

@media only all and (min-width: 768px) {
	.content-header {
		width: 470px;
		padding-bottom: 224px;
	&__title {
		@include header-content-item(52px, 63px, 28.5px, 0);
	}

	&__text {
		@include header-content-item(24px, 24px, 33px, 0);
	}
}
}