@mixin header-content-item ($font, $lh, $mb) {
  font-size: $font;
  line-height: $lh;
  margin-bottom: $mb;
}

@mixin background ($pos, $re, $size) {
	background: {
		position: $pos;
		repeat: $re;
		size: $size;
	}
}

@mixin box ($height) {
	position: relative;
	margin: 0 10px;
	z-index: 1;
	border-radius: 4px;
	background-size: cover;
	height: $height;
}

@mixin box-before ($bg, $radius) {
	@extend %before;
	background: $bg;
	border-radius: $radius;
}

@mixin circle ($w, $h, $b, $r, $bg){
	border-radius: 50%;
	position: absolute;
	width: $w;
	height: $h;
	bottom: $b;
	right: $r;
	background-color: $bg;
}

@mixin text ($font-size, $font-family,  $line-height, $color) {
	font: {
		size: $font-size;
		family: $font-family;
	};
	line-height: $line-height;
	color: $color;
}

