@mixin header-content-item ($font, $lh, $mb) {
  font-size: $font;
  line-height: $lh;
  margin-bottom: $mb;
}

@mixin align-pic ($top,$left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin box ($height) {
	@extend %box;
	height: $height;
}

@mixin box-before ($bg) {
	@extend %box-before;
	background: $bg;
}

@mixin circle ($w, $h, $b, $r, $bg){
	border-radius: 50%;
	position: absolute;
	width: $w;
	height: $h;
	bottom: $b;
	right: $r;
	background-color: $bg;
}

@mixin text ($font-size, $font-family,  $line-height, $color) {
	font: {
		size: $font-size;
		family: $font-family;
	};
	line-height: $line-height;
	color: $color;
}

