$white: #ffffff;
$pink: #FF4E50;
$gray-light: #E3E3E3;

$roboto: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;


$background-dark: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);



