$white: #ffffff;
$pink: #FF4E50;
$gray-light: #E3E3E3;
$gray: #666666;
$gray-light2: #999999;
$yellow: #FFA710;
$blue-light: #19D4CA;
$violet: #667DF3;
$black-light: #444444;
$black: #000000;
$light: #CCCCCC;

$roboto: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;


$background-dark: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);



